/*==============================================
Import
==============================================*/
@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,100italic);

/*==============================================
Variables
==============================================*/
$box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

/*==============================================
General
==============================================*/
* {
	box-sizing: border-box;	
}
html, body{
	width: 100vw;
	height: 100vh;
	position: relative;
	margin: 0;
	padding: 0;
	background: rgb(33,33,33);
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
	color: white;
}

/*==============================================
Main
==============================================*/
header {
	display: flex;
	background: #bf360c;
	position: fixed;
	padding: 2rem;
	color: white;
	height: 8vh;
	width: 100%;
	z-index: 5;
	top: 0;
	box-shadow: $box-shadow;
	h1 {
		flex: 5;
	}
	a {
		color: rgb(33,33,33);
		text-decoration: none;
	}
}
#link {
	display: flex;
	li {
		padding-left: 1rem;
  	}
}
#convertBtn {
	background: none;
	border: 8px solid white;
	font-weight: bold;
	font-size: xx-large;
	padding: 2.4rem;
	color: white;
	margin: 16vh auto 4vh auto;
	display: block;
	transition: all 0.2s ease-in-out;
}
#convertBtn:hover, #convertBtn:active{
	background: white;
	color: rgb(33,33,33);
}

/*==============================================
Grid
==============================================*/
.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex: 0 1 auto;
}
.col-6 {
	flex-basis: 50%;
	position: relative;
}
.col-12 {
	flex-basis: 100%;
	position: relative;
}
/*==============================================
Parts
==============================================*/
.desc {
	text-align: center;
	color: white;
	padding: 2rem;
}
.lead {
	font-size: xx-large;
	color: white;
	padding-top: 3rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
}
#toast {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
	background: white;
	color: rgb(33,33,33);
	border-radius: 2px;
	padding: 1rem 1.2rem;
	font-weight: bold;
	box-shadow: $box-shadow;
}

/*==============================================
Utils
==============================================*/
.hide { display: none; }
.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }
