/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,100italic);
/* line 5, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 14, ../sass/screen.scss */
html, body {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  background: #212121;
  font-family: 'Roboto', sans-serif;
}

/* line 23, ../sass/screen.scss */
header {
  background: #bf360c;
  padding: 2rem;
  color: white;
  height: 16vh;
  width: 100%;
  z-index: 5;
  top: 0;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* line 32, ../sass/screen.scss */
header h1 {
  font-size: xx-large;
  padding-bottom: 1rem;
}
/* line 36, ../sass/screen.scss */
header a {
  color: #212121;
  text-decoration: none;
}

/* line 41, ../sass/screen.scss */
#link {
  display: flex;
}
/* line 43, ../sass/screen.scss */
#link li {
  padding: 2px;
}

/* line 47, ../sass/screen.scss */
#convertBtn {
  background: none;
  border: 8px solid white;
  font-weight: bold;
  font-size: xx-large;
  padding: 2.4rem;
  color: white;
  margin: 4vh auto;
  display: block;
  transition: all 0.2s ease-in-out;
}

/* line 58, ../sass/screen.scss */
#convertBtn:hover, #convertBtn:active {
  background: white;
  color: #212121;
}

/* line 62, ../sass/screen.scss */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 0 1 auto;
}

/* line 68, ../sass/screen.scss */
.col-6 {
  flex-basis: 50%;
  position: relative;
}

/* line 72, ../sass/screen.scss */
.desc {
  text-align: center;
  color: white;
  padding: 2rem;
}

/* line 77, ../sass/screen.scss */
#toast {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  background: white;
  color: #212121;
  border-radius: 2px;
  padding: 1rem 1.2rem;
  font-weight: bold;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 88, ../sass/screen.scss */
.hide {
  display: none;
}
